.node-page {
	@extend .centered-container;
	.content {
		@extend %legible-column;
	}
}

// main layout bit.
.node-type-story,
.node-type-event,
.node-type-video {

	.view-mode-full {
		
		// overriding css automatically added by displaysuite
		// probably want to create a 'streetnet article responsive' layout of our own
		// to avoidsome of this hacky stuff (that isnt that hacky).
		.group-left,
		.group-right {
			width: 100%;
		}

		@include breakpoint( $screen-md ) {
			.group-left {
				@include isolation-span( 11, 1 );
				padding-top: 1em;
			}
			.group-right {
				@include isolation-span( 4, 12 );
				padding-top: 2.185em;
			}
			.article-meta {
				margin-top: 2em;
				@include pie-clearfix;
				@include layout( 6 ) {
					.owstech-share {
						@include isolation-span( 2, 1 );
					}
					.field-name-field-tags {
						@include isolation-span( 4	, 3 );
						padding-top: .375em;
					}
				}
			}
		}
	}
}

// some finer bits
.node-type-story,
.node-type-event,
.node-type-video {
	
	.view-mode-full {

		@extend .centered-container;
		
		.byline {
			margin-bottom: 1em;
		}

		.field-name-field-image-source {
			padding-bottom:5px;
		}

		.field-name-field-image img {
			// looks like the upscaling is fine for the general image sizes we have
			@extend %responsive-image;
		}

		.sidebar-touts,
		.related-articles {
			// for defaults re: margin-bottoms and such but we might not need it.
			// keeping it around for a bit though.
			@extend %sidebar-block;
		}

		.owstech-share {
		 	margin-bottom: 2.5em;
		}

	}
}

// specific article types cases

.node-story.view-mode-full {
	
}

.node-event.view-mode-full {
	
}

.node-action.view-mode-full {
	
}

.node-video.view-mode-full {
	
}


