.node-type-story,
.node-type-event,
.node-type-video {
	
	.view-mode-full {

		@extend .centered-container;

		&>aside {
			.owstech-share,
			.field-name-related-articles {
				@extend %sidebar-block;
			}
		}

		@include breakpoint( $screen-md ) {

			&>section{
				@include grid-span( 1, 1 );
			}
	
			&>aside {
				@include grid-span( 1, 2 );
			}
			
			.article-meta {
				margin-top: 2em;
				@include pie-clearfix;
				@include layout( 6 ) {
					.owstech-share {
						@include grid-span( 2, 1 );
					}
					.field-name-field-tags {
						@include grid-span( 4	, 3 );
						padding-top: .375em;
					}
				}
			}

		}

	}
	
.related-articles ul {
	list-style: none;
	padding:0;
}

.related-articles ul>li {
	margin: 0 0 .25em 0;
	padding: .5em 1em;
	border-left: 2px #666 solid;	
	background: #eee;
}

.related-articles li {
  position: relative;
}

.related-articles li .tooltip {
	overflow: hidden;
  transition: max-height .25s;
  transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  max-height: 0;
}

.related-articles li:hover .tooltip {
  max-height: 12em;
}


	.node-story.view-mode-full {
		
	}

	.node-event.view-mode-full {
		
	}

	.node-action.view-mode-full {
		
	}

	.node-video.view-mode-full {
		
	}

}