.view-story-listings {

	@extend .centered-container;
	padding: 0 2em;

	@include breakpoint( $screen-sm ) {
		

		
		@include layout( 2, $gutter: $gutter-sm ) {

			.story {
				@include float-span( 1 );
			}
			
			.story:nth-child(3n+0) {
				@include float-span( 1, first );				
			}
			
			.story:nth-child(2n+2) {
				@include float-span( 1, last );				
			}

		}

	}

	@include breakpoint( $screen-md ) {
		
		padding: 0;
		
		@include layout(8, $gutter: $gutter-md ) {
			@include background-grid( $color: rgba(#0f3,.2) );
			
			.story {
				@include float-span( 2 );
			}
		
			.story:nth-child(3n+0) {
				@include float-span( 2 );				
			}
			
			.story:nth-child(2n+2) {
				@include float-span( 2 );				
			}

			.story:nth-child(5n+0) {
				@include float-span( 2, first );				
			}
		
			.story:nth-child(4n+4) {
				@include float-span( 2, last );				
			}
		
		}

	}

}

.view-story-listings {

	.view-content {
		@extend .clearfix;
	}

	.story {

		img {
			@extend %responsive-image;
		}

		a {
			text-decoration: none;
			color: $c-text;
		}				

	}

}
