.node-page {
	@extend .centered-container;
	.content {
		@extend %legible-column;
	}
}

.node-type-story,
.node-type-event,
.node-type-video {
	
	.view-mode-full {

		@extend .centered-container;
		
		.byline {
			margin-bottom: 1em;
		}

		.field-name-field-image-source {
			padding-bottom:5px;
		}

		.group-left,
		.group-right {
			width: 100%;
		}

		.group-right {
			.owstech-share,
			.related-articles {
				@extend %sidebar-block;
			}
		}

		@include breakpoint( $screen-md ) {

			.group-left {
				@include isolation-span( 12, 1 );
				padding-top: 1em;
			}

			.group-right {
				@include isolation-span( 4, 12 );
				padding-top: 2.185em;
			}
				
			.article-meta {
				margin-top: 2em;
				@include pie-clearfix;
				@include layout( 6 ) {
					.owstech-share {
						@include isolation-span( 2, 1 );
					}
					.field-name-field-tags {
						@include isolation-span( 4	, 3 );
						padding-top: .375em;
					}
				}
			}

		}
	}
}

// specific use cases

.node-story.view-mode-full {
	
}

.node-event.view-mode-full {
	
}

.node-action.view-mode-full {
	
}

.node-video.view-mode-full {
	
}

.related-articles {
	list-style: none;
	padding:0;
	.related-article {
		margin: 0 0 .25em 0;
	}
}
