#site-name,
#site-slogan {
	display: block;
	font-weight: normal;
	background: $c-ui-panel-dk;
	text-align: center;
	margin: 0 auto;
  color: #FECD48;
}

#site-slogan,
#site-name {
	padding: .25em;
	background: #222;
	letter-spacing: .025em;
}

#site-slogan {
	padding: 1em 0;
	margin-bottom: .5em;
	@extend .clearfix;
}


#block-boxes-header-social-media-links {
	// Hide the block title
	h2 {
		@extend .offscreen;
	}
}


#block-system-main-menu {
	@include horizontal-list( 0 );
	text-align: center;
	margin: 0 auto;
	padding: 0;
	.content {
		position: relative;
	}
	.menu {
		padding: 0;
		@extend .clearfix;
		display: inline-block;
		margin: 0 auto;
		li {
			padding: 0;
			a {
				display: block;
				padding: .25em .5em;
			}
		}
	}
	@include breakpoint( md ) {
		margin: 0;
		text-align: left;
		.menu {
			margin: 0;
			display: block;
		}
	}
}

@include breakpoint(sm) {
	#site-name,
	#site-slogan {
		text-align: left;		
	}
}
