#masthead,
#header {
	background-color: $c-backdrop;
}

#header {
	margin: 0;
	.content {

	}
}

#block-system-main-menu {
	.menu {
		padding: 0;
		li {
			margin: 0 .5em 0 0;
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
		}

	}
}