.article-meta {
	padding: .5em;
	background: lighten( $c-ui-panel-lt, 10 );
}

.story {
	.view-mode-teaser {
		.story-category.Analysis {
			@include teaser-category-link( $c-analysis );
		}
		.story-category.Event {
			@include teaser-category-link( $c-event );
		}
		.story-category.Opinion {
			@include teaser-category-link( $c-opinion );
		}
		.story-category.GA {
			@include teaser-category-link( $c-ga );
		}
		.story-category.Feature {
			@include teaser-category-link( $c-feature );
		}
		.story-category.News {
			@include teaser-category-link( $c-news );
		}
	}
}

.node[role="article"] {
	// some of this can probably go into an extendable
	ul.sidebar-touts {
		list-style: none;
		padding:0;
		li {
			background: #000;
			padding: 1em;
			color: $c-text-lt;
			h4 {
				@extend %base-font;
				font-size: 1.125rem;
				margin-bottom: .25em;
				a {
					color: $c-accent;
					text-decoration: none;
				}
			}
			a {
				display: block;
			}
		}
	}
}

.related-articles {
	.related-article {
		padding: .5em 1em;
		border-left: 2px #666 solid;	
		background: #eee;
		overflow: hidden;
		// we could move partials for stuff like this into a 'states' folder
		// thoughts?
    .summary {
      overflow: hidden;
      transition: max-height .25s;
      transition-timing-function: cubic-bezier(0.42,0,0.58,1);
      max-height: 0;
      p {
      	margin-top: 0;
      }
    }
    .story-category {
    	@extend .offscreen;
    }
    &:hover .summary {
      max-height: 12em;
    }
	}
}
