/*
------------------------------------
Type and Vertical Rythm Definitions
------------------------------------
*/

@font-face {
  font-family: LeagueGothic;
  src:  url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.eot");
  src:  url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.ttf") format("truetype"),
        url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.woff") format("woff"),
        url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.svg#LeaguGothic") format("svg");
        font-weight: 300;
}

@font-face {
  font-family: PTSans;
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.eot");
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.eot?#iefix") format("eot"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.ttf") format("truetype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.woff") format("woff"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.svg#ptsans") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: PTSans;
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.eot");
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.eot?#iefix") format("embedded-opentype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.ttf") format("truetype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.woff") format("woff"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.svg#ptsansBold") format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: PTSans;
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.eot");
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.eot?#iefix") format("embedded-opentype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.ttf") format("truetype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.woff") format("woff"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.svg#ptsansItalic") format("svg");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: PTSans;
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.eot");
  src:  url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.eot?#iefix") format("embedded-opentype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.ttf") format("truetype"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.woff") format("woff"),
        url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.svg#ptsansBoldItalic") format("svg");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: zocial;
  src:  url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.eot");
  src:  url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.ttf") format("truetype"),
        url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.woff") format("woff"),
        url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.svg#zocial-regular") format("svg");
  font-style: normal;
  font-weight: 400;
}

%base-font {
  font-family: 'PTSans', helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  a {
    color: $c-backdrop;
  }
}

%header-font {
  font-family: 'LeagueGothic', helvetica, "Arial Black", sans-serif;    
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  a,
  a:link,
  a:visited {
    color: inherit;
  }
}

%smalltype {
  font-size: .875rem;
}

////////////////////////
// General type styles
//

body {
  @extend %base-font;
}

h1, h2, h3, h4, h5, h6 {
  @extend %header-font;
}

h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }

h5,
h6 {
  @extend %base-font;
  text-transform: normal;
}


////////////////////////
// Header
//

#block-system-main-menu ul.menu li {
  a,
  a:link {
    color: inherit;
    text-decoration: none;
    @extend %header-font;
  }
}

#site-name {    
  white-space: nowrap;
  margin: .5em 0 .25em 0;
  font-size: 2.5rem;
  line-height: 1.125;
  a,
  a:active,
  a:link,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

#site-slogan,
#block-system-main-menu {
  @extend %header-font;
  font-size: 1.625rem;
  color: #FECD48;
  margin: 0;
  padding: 0;
}

#block-system-main-menu {
  ul.menu li a,
  ul.menu li a:link {
    color: #FECD48;
  }
}

.newsletter-text {
  @extend %header-font;
  font-size: 1.4rem;
}

.view-header-announcements {
  @extend %header-font;
  font-size: 1.2rem;
}

.page-title {
  font-size: 5rem;
  letter-spacing: .025em;  
}


////////////////////////
// Articles
//

p, div {
  line-height: 1.5;
}

.article-content {
  /*
  limiting the width of just .field-name-body
  is not necessarily the answer 
  for legible column widths
  */
  .field-name-body {
    max-width: 72ex;
    padding-left: 4em;
    font-size: 1rem;
    p:first-child {
      font-size: 1.125rem;
    }
  }
  padding-bottom: 4em;
}

blockquote,
blockquote p {
  @extend %header-font;
  font-size: 2rem !important;
  line-height: 1.2;
  hanging-punctuation: first;
  text-indent: -.25em; 
}

.byline,
.field-name-field-image-caption {
  @extend %smalltype;
}


////////////////////////
// Related stories
//



////////////////////////
// Teasers
//

%ui-label {
  @extend %base-font;
  color: $c-text-light;
  font-size: .875rem;
  letter-spacing: .025em;
}

article.view-mode-full {
  .field-name-sidebar-tags,
  .field-name-related-articles,
  .field-name-category-menu {
    h2 {
      @extend %ui-label;
    }
  }  
}

// .more-link {
//   text-align: left;
//   @extend %header-font;
//   font-size: 1.2rem;
//   a {
//     color: $c-text;
//   }
// }

.date-posted,
.field-name-field-image-source,
.field-name-field-author {
  font-size: .875rem;
}


