.content {

	.view-streetnet-stories {

	  @include pie-clearfix;

		@include breakpoint( $screen-md-max ) {
			
			max-width: $screen-md;
			padding: 2rem;
			
			@include layout( 2, $gutter: $gutter-sm ) {

				.node-teaser {
					@include float-span( 1 );
				}
				
				.node-teaser:nth-child(3n+0) {
					@include float-span( 1, first );				
				}
				
				.node-teaser:nth-child(2n+2) {
					@include float-span( 1, last );				
				}

			}

		}

		@include breakpoint( $screen-md ) {
			
			max-width: $screen-md;
			margin: 0 auto;
			
			@include layout(8) {
			
				.node-teaser {
					@include float-span( 2 );
				}
			
				.node-teaser:nth-child(5n+0) {
					@include float-span( 2, first );				
				}
			
				.node-teaser:nth-child(4n+4) {
					@include float-span( 2, last );				
				}
			
			}
		
		}

		@include breakpoint( $screen-lg ) {
			max-width: $screen-lg;
		}

	}

}
