@charset "UTF-8";
/* line 6, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-1.2.2/stylesheets/toolkit/_border-box.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-1.2.2/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 24, ../sass/partials/global/_extendables.scss */
ul.links.inline a:link,
ul.primary a:link, .owstech-share a:link,
ul.links.inline a:active,
ul.primary a:active,
.owstech-share a:active,
ul.links.inline a:hover,
ul.primary a:hover,
.owstech-share a:hover,
ul.links.inline a,
ul.primary a,
.owstech-share a {
  outline: none !important;
  text-decoration: none;
}

/* line 30, ../sass/partials/global/_extendables.scss */
.field-name-field-tags a, .field-name-category-menu ul a, .field-name-field-tags a:hover, .field-name-category-menu ul a:hover, .label-inline {
  display: inline-block !important;
  line-height: 1.5;
  vertical-align: baseline;
  width: auto;
  margin: .425em .25em 0 0;
  padding: .25em .5em 0 .5em;
}

/* line 39, ../sass/partials/global/_extendables.scss */
aside .field-name-field-tags, aside .field-name-category-menu {
  margin-bottom: 2em;
}

/* line 43, ../sass/partials/global/_extendables.scss */
.field-name-field-tags, .field-name-category-menu ul {
  font-size: .925rem;
}
/* line 45, ../sass/partials/global/_extendables.scss */
.field-name-field-tags a, .field-name-category-menu ul a {
  border-radius: .25em;
  background: #2c2c2c;
  color: #dddddd;
  text-decoration: none;
  transition-duration: 0.1875s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
/* line 54, ../sass/partials/global/_extendables.scss */
.field-name-field-tags a:hover, .field-name-category-menu ul a:hover {
  background: #dddddd;
  color: #2c2c2c;
  text-decoration: none;
}

/* line 63, ../sass/partials/global/_extendables.scss */
.offscreen, .owstech-share .drawer a.icon span {
  position: absolute;
  right: 101%;
  overflow: hidden;
}

/* line 69, ../sass/partials/global/_extendables.scss */
.centered-container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  /* line 69, ../sass/partials/global/_extendables.scss */
  .centered-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 69, ../sass/partials/global/_extendables.scss */
  .centered-container {
    max-width: 1200px;
  }
}

/* line 83, ../sass/partials/global/_extendables.scss */
.clearfix::before, .field-name-category-menu a::before, .clearfix::after, .field-name-category-menu a::after {
  content: " ";
  display: table;
}
/* line 88, ../sass/partials/global/_extendables.scss */
.clearfix::after, .field-name-category-menu a::after {
  clear: both;
}

/* line 16, ../sass/partials/global/_components.scss */
ul.links.inline,
ul.primary {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
/* line 60, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.links.inline li,
ul.primary li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 48, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.links.inline li:first-child, ul.links.inline li.first,
ul.primary li:first-child,
ul.primary li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.links.inline li:last-child,
ul.primary li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.links.inline li.last,
ul.primary li.last {
  padding-right: 0;
}
/* line 26, ../sass/partials/global/_components.scss */
ul.links.inline li,
ul.primary li {
  border: none;
  margin: 0;
  padding: 0;
  border-right: 1px #222 solid;
}
/* line 31, ../sass/partials/global/_components.scss */
ul.links.inline li a,
ul.primary li a {
  display: block;
  transition-duration: 0.1875s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 1px #222 solid;
  border: none;
  margin: 0 !important;
  padding: .5em;
  color: #dedede;
}
/* line 42, ../sass/partials/global/_components.scss */
ul.links.inline li a:hover,
ul.primary li a:hover {
  color: #fc0;
  background-color: #000;
}
/* line 46, ../sass/partials/global/_components.scss */
ul.links.inline li.active a,
ul.primary li.active a {
  border: none;
  background-color: #fc0 !important;
  color: #000;
}
/* line 52, ../sass/partials/global/_components.scss */
ul.links.inline ul.links.inline,
ul.primary ul.links.inline {
  bottom: auto;
  top: 0 !important;
  left: 0 !important;
}
@media (min-width: 960px) {
  /* line 58, ../sass/partials/global/_components.scss */
  ul.links.inline ul.links.inline,
  ul.links.inline ul.primary,
  ul.primary ul.links.inline,
  ul.primary ul.primary {
    font-size: 4rem;
  }
}

/* line 73, ../sass/partials/global/_components.scss */
html.js input.form-autocomplete {
  background-image: url(/sites/all/themes/occupy/images/spinner.gif);
  /* tweak this according to your gif */
  background-position: 100% 0px;
  /* tweak this according to your gif */
  background-repeat: no-repeat;
}

/* line 79, ../sass/partials/global/_components.scss */
html.js input.throbbing {
  background-position: 100% -20px;
  /* tweak this according to your gif */
}

/* these apply to all ajax progresses */
/* line 84, ../sass/partials/global/_components.scss */
.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 90, ../sass/partials/global/_components.scss */
.ajax-progress .throbber {
  background: transparent url(/sites/all/themes/occupy/images/spinner.gif) no-repeat 0px 0px;
  /* tweak this according to your gif */
  float: left;
  height: 20px;
  /* tweak this according to your gif */
  width: 20px;
  /* tweak this according to your gif */
  margin: 2px;
}

/* line 104, ../sass/partials/global/_components.scss */
.pager {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 107, ../sass/partials/global/_components.scss */
.pager > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
/* line 60, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pager > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 48, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pager > ul li:first-child, .pager > ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pager > ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pager > ul li.last {
  padding-right: 0;
}

/* line 112, ../sass/partials/global/_components.scss */
.pager li {
  margin: 0 .25em 0 0;
  text-align: center;
  min-width: 28px;
  display: inline-block;
  position: relative;
}
/* line 118, ../sass/partials/global/_components.scss */
.pager li .ajax-progress {
  position: absolute;
  top: 5px;
  left: 6px;
}
/* line 124, ../sass/partials/global/_components.scss */
.pager li.pager-current,
.pager li a {
  position: relative;
  display: inline-block;
  border-radius: 1em;
  font-size: 1rem;
  min-width: 1em;
  height: 1em;
  padding: .25em;
  border: none;
  font-weight: normal;
}
/* line 135, ../sass/partials/global/_components.scss */
.pager li.pager-current {
  background: #333333;
  color: #dddddd;
}
/* line 139, ../sass/partials/global/_components.scss */
.pager li a {
  background: #dddddd;
}

/* line 147, ../sass/partials/global/_components.scss */
.pager-previous,
.pager-next,
.pager-first,
.pager-last {
  text-indent: -3000px;
  position: relative;
  min-width: 28px;
  background: transparent !important;
}
/* line 152, ../sass/partials/global/_components.scss */
.pager-previous a,
.pager-next a,
.pager-first a,
.pager-last a {
  background: transparent !important;
}
/* line 155, ../sass/partials/global/_components.scss */
.pager-previous::before,
.pager-next::before,
.pager-first::before,
.pager-last::before {
  line-height: 1 !important;
  min-width: 28px;
  background: #dddddd;
  text-indent: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  font-size: 18px;
}

/* line 169, ../sass/partials/global/_components.scss */
.pager-previous::before {
  content: "⇠";
}

/* line 172, ../sass/partials/global/_components.scss */
.pager-next::before {
  content: "⇢";
}

/* line 175, ../sass/partials/global/_components.scss */
.pager-first::before {
  content: "⇤";
}

/* line 178, ../sass/partials/global/_components.scss */
.pager-last::before {
  content: "⇥";
}

/* line 206, ../sass/partials/global/_components.scss */
.field-name-category-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
/* line 60, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.field-name-category-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 48, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.field-name-category-menu ul li:first-child, .field-name-category-menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.field-name-category-menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.field-name-category-menu ul li.last {
  padding-right: 0;
}
/* line 212, ../sass/partials/global/_components.scss */
.field-name-category-menu ul li,
.field-name-category-menu ul li:hover a,
.field-name-category-menu ul li a:hover,
.field-name-category-menu ul li a {
  width: 100%;
}
/* line 215, ../sass/partials/global/_components.scss */
.field-name-category-menu ul li {
  padding: 0;
  margin: 0 0 .125em 0;
}

@media (min-width: md) {
  /* line 230, ../sass/partials/global/_components.scss */
  .workbench-info-block {
    max-width: 960px;
  }
}
@media (min-width: lg) {
  /* line 230, ../sass/partials/global/_components.scss */
  .workbench-info-block {
    max-width: 1200px;
  }
}

/* line 1, ../sass/partials/global/_share_widget.scss */
.owstech-share {
  overflow: hidden;
  height: 3rem;
  position: relative;
}
/* line 7, ../sass/partials/global/_share_widget.scss */
.owstech-share .actuator {
  position: relative;
  -webkit-transition-property: top, color, background-color;
  -moz-transition-property: top, color, background-color;
  -o-transition-property: top, color, background-color;
  transition-property: top, color, background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  top: 0;
  color: #ffcc00;
  background: #333333;
  line-height: 1;
}
/* line 16, ../sass/partials/global/_share_widget.scss */
.owstech-share .actuator a {
  display: block;
  font-size: inherit;
  padding: .3125em .5em;
  vertical-align: baseline;
  letter-spacing: .075em;
  text-decoration: none;
  color: inherit;
}
/* line 27, ../sass/partials/global/_share_widget.scss */
.owstech-share.active .actuator, .owstech-share:hover .actuator {
  top: 2em;
  background-color: #dddddd;
  color: #333333;
}
/* line 31, ../sass/partials/global/_share_widget.scss */
.owstech-share.active .actuator a, .owstech-share:hover .actuator a {
  text-decoration: none;
}

/* line 42, ../sass/partials/global/_share_widget.scss */
.owstech-share .drawer {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition-property: max-height, top;
  -moz-transition-property: max-height, top;
  -o-transition-property: max-height, top;
  transition-property: max-height, top;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #dddddd;
  white-space: nowrap;
  max-height: 0;
  position: relative;
  top: -5em;
}
/* line 60, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.owstech-share .drawer li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 48, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.owstech-share .drawer li:first-child, .owstech-share .drawer li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.owstech-share .drawer li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.owstech-share .drawer li.last {
  padding-right: 0;
}
/* line 55, ../sass/partials/global/_share_widget.scss */
.owstech-share.active .drawer, .owstech-share:hover .drawer {
  max-height: 12em;
  top: -3em;
}
/* line 61, ../sass/partials/global/_share_widget.scss */
.owstech-share .drawer a.icon {
  color: gray;
  font-size: 1.25rem;
  line-height: 2.5;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: zocial;
  text-decoration: none;
}
/* line 78, ../sass/partials/global/_share_widget.scss */
.owstech-share a.icon:hover {
  background: #333333;
  color: white;
}
/* line 83, ../sass/partials/global/_share_widget.scss */
.owstech-share a.icon.facebook::before {
  content: "f";
}
/* line 87, ../sass/partials/global/_share_widget.scss */
.owstech-share a.icon.twitter::before {
  content: "t";
}
/* line 91, ../sass/partials/global/_share_widget.scss */
.owstech-share a.icon.google-plus::before {
  content: "+";
}
/* line 95, ../sass/partials/global/_share_widget.scss */
.owstech-share a.icon.reddit::before {
  content: ">";
  position: relative;
  top: -.125em;
}

/* line 3, ../sass/partials/global/_styles.scss */
.related-articles .related-article {
  padding: .5em 1em;
  border-left: 2px #666 solid;
  background: #eee;
}
/* line 8, ../sass/partials/global/_styles.scss */
.related-articles .related-article h4 a {
  text-decoration: none;
}
/* line 13, ../sass/partials/global/_styles.scss */
.related-articles .related-article p {
  font-size: .875em;
  line-height: 1.125;
}
/* line 17, ../sass/partials/global/_styles.scss */
.related-articles .related-article .tooltip {
  overflow: hidden;
  transition: max-height .25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  max-height: 0;
}
/* line 23, ../sass/partials/global/_styles.scss */
.related-articles .related-article:hover .tooltip {
  max-height: 12em;
}
