@charset "UTF-8";
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.node-page .content {
  max-width: 80ex;
  margin: 0 auto;
}

.view-story-listings .story img {
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: auto;
}

ul.links.inline a:link,
ul.primary a:link, .owstech-share a:link,
ul.links.inline a:active,
ul.primary a:active,
.owstech-share a:active,
ul.links.inline a:hover,
ul.primary a:hover,
.owstech-share a:hover,
ul.links.inline a,
ul.primary a,
.owstech-share a {
  outline: none !important;
  text-decoration: none;
}

.field-name-field-tags a, .field-name-category-menu ul a, .field-name-field-tags a:hover, .field-name-category-menu ul a:hover, .label-inline {
  display: inline-block !important;
  line-height: 1.5;
  vertical-align: baseline;
  width: auto;
  margin: .425em .25em 0 0;
  padding: .25em .5em 0 .5em;
}

aside .field-name-field-tags, aside .field-name-category-menu, .node-type-story .view-mode-full .group-right .owstech-share,
.node-type-story .view-mode-full .group-right .related-articles,
.node-type-event .view-mode-full .group-right .owstech-share,
.node-type-event .view-mode-full .group-right .related-articles,
.node-type-video .view-mode-full .group-right .owstech-share,
.node-type-video .view-mode-full .group-right .related-articles {
  margin-bottom: 2em;
}

.field-name-field-tags, .field-name-category-menu ul {
  font-size: .925rem;
}
.field-name-field-tags a, .field-name-category-menu ul a {
  border-radius: .25em;
  background: #2c2c2c;
  color: #dddddd;
  text-decoration: none;
  transition-duration: 0.1875s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.field-name-field-tags a:hover, .field-name-category-menu ul a:hover {
  background: #dddddd;
  color: #2c2c2c;
  text-decoration: none;
}

.offscreen, .owstech-share .drawer a.icon span, #block-boxes-header-social-media-links h2 {
  position: absolute;
  right: 101%;
  overflow: hidden;
}

.centered-container, .view-story-listings, .node-page, .node-type-story .view-mode-full,
.node-type-event .view-mode-full,
.node-type-video .view-mode-full {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  .centered-container, .view-story-listings, .node-page, .node-type-story .view-mode-full,
  .node-type-event .view-mode-full,
  .node-type-video .view-mode-full {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .centered-container, .view-story-listings, .node-page, .node-type-story .view-mode-full,
  .node-type-event .view-mode-full,
  .node-type-video .view-mode-full {
    max-width: 1200px;
  }
}

.clearfix::before, .field-name-category-menu a::before, #site-slogan::before, #block-system-main-menu .menu::before, .view-story-listings .view-content::before, .clearfix::after, .field-name-category-menu a::after, #site-slogan::after, #block-system-main-menu .menu::after, .view-story-listings .view-content::after {
  content: " ";
  display: table;
}
.clearfix::after, .field-name-category-menu a::after, #site-slogan::after, #block-system-main-menu .menu::after, .view-story-listings .view-content::after {
  clear: both;
}

ul.links.inline,
ul.primary {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
ul.links.inline li,
ul.primary li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
ul.links.inline li:first-child, ul.links.inline li.first,
ul.primary li:first-child,
ul.primary li.first {
  padding-left: 0;
}
ul.links.inline li:last-child,
ul.primary li:last-child {
  padding-right: 0;
}
ul.links.inline li.last,
ul.primary li.last {
  padding-right: 0;
}
ul.links.inline li,
ul.primary li {
  border: none;
  margin: 0;
  padding: 0;
  border-right: 1px #222 solid;
}
ul.links.inline li a,
ul.primary li a {
  display: block;
  transition-duration: 0.1875s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 1px #222 solid;
  border: none;
  margin: 0 !important;
  padding: .5em;
  color: #dedede;
}
ul.links.inline li a:hover,
ul.primary li a:hover {
  color: #fc0;
  background-color: #000;
}
ul.links.inline li.active a,
ul.primary li.active a {
  border: none;
  background-color: #fc0 !important;
  color: #000;
}
ul.links.inline ul.links.inline,
ul.primary ul.links.inline {
  bottom: auto;
  top: 0 !important;
  left: 0 !important;
}
@media (min-width: 960px) {
  ul.links.inline ul.links.inline,
  ul.links.inline ul.primary,
  ul.primary ul.links.inline,
  ul.primary ul.primary {
    font-size: 4rem;
  }
}

html.js input.form-autocomplete {
  background-image: url(/sites/all/themes/occupy/images/spinner.gif);
  /* tweak this according to your gif */
  background-position: 100% 0px;
  /* tweak this according to your gif */
  background-repeat: no-repeat;
}

html.js input.throbbing {
  background-position: 100% -20px;
  /* tweak this according to your gif */
}

/* these apply to all ajax progresses */
.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.ajax-progress .throbber {
  background: transparent url(/sites/all/themes/occupy/images/spinner.gif) no-repeat 0px 0px;
  /* tweak this according to your gif */
  float: left;
  height: 20px;
  /* tweak this according to your gif */
  width: 20px;
  /* tweak this according to your gif */
  margin: 2px;
}

.pager {
  margin-top: 2em;
  margin-bottom: 2em;
}
.pager > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.pager > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.pager > ul li:first-child, .pager > ul li.first {
  padding-left: 0;
}
.pager > ul li:last-child {
  padding-right: 0;
}
.pager > ul li.last {
  padding-right: 0;
}

.pager li {
  margin: 0 .25em 0 0;
  text-align: center;
  min-width: 28px;
  display: inline-block;
  position: relative;
}
.pager li .ajax-progress {
  position: absolute;
  top: 5px;
  left: 6px;
}
.pager li.pager-current,
.pager li a {
  position: relative;
  display: inline-block;
  border-radius: 1em;
  font-size: 1rem;
  min-width: 1em;
  height: 1em;
  padding: .25em;
  border: none;
  font-weight: normal;
}
.pager li.pager-current {
  background: #333333;
  color: #dddddd;
}
.pager li a {
  background: #dddddd;
}

.pager-previous,
.pager-next,
.pager-first,
.pager-last {
  text-indent: -3000px;
  position: relative;
  min-width: 28px;
  background: transparent !important;
}
.pager-previous a,
.pager-next a,
.pager-first a,
.pager-last a {
  background: transparent !important;
}
.pager-previous::before,
.pager-next::before,
.pager-first::before,
.pager-last::before {
  line-height: 1 !important;
  min-width: 28px;
  background: #dddddd;
  text-indent: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  font-size: 18px;
}

.pager-previous::before {
  content: "⇠";
}

.pager-next::before {
  content: "⇢";
}

.pager-first::before {
  content: "⇤";
}

.pager-last::before {
  content: "⇥";
}

.field-name-category-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.field-name-category-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.field-name-category-menu ul li:first-child, .field-name-category-menu ul li.first {
  padding-left: 0;
}
.field-name-category-menu ul li:last-child {
  padding-right: 0;
}
.field-name-category-menu ul li.last {
  padding-right: 0;
}
.field-name-category-menu ul li,
.field-name-category-menu ul li:hover a,
.field-name-category-menu ul li a:hover,
.field-name-category-menu ul li a {
  width: 100%;
}
.field-name-category-menu ul li {
  padding: 0;
  margin: 0 0 .125em 0;
}

@media (min-width: md) {
  .workbench-info-block {
    max-width: 960px;
  }
}
@media (min-width: lg) {
  .workbench-info-block {
    max-width: 1200px;
  }
}

.owstech-share {
  overflow: hidden;
  height: 3rem;
  position: relative;
}
.owstech-share .actuator {
  position: relative;
  -webkit-transition-property: top, color, background-color;
  -moz-transition-property: top, color, background-color;
  -o-transition-property: top, color, background-color;
  transition-property: top, color, background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  top: 0;
  color: #ffcc00;
  background: #333333;
  line-height: 1;
}
.owstech-share .actuator a {
  display: block;
  font-size: inherit;
  padding: .3125em .5em;
  vertical-align: baseline;
  letter-spacing: .075em;
  text-decoration: none;
  color: inherit;
}
.owstech-share.active .actuator, .owstech-share:hover .actuator {
  top: 2em;
  background-color: #dddddd;
  color: #333333;
}
.owstech-share.active .actuator a, .owstech-share:hover .actuator a {
  text-decoration: none;
}

.owstech-share .drawer {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition-property: max-height, top;
  -moz-transition-property: max-height, top;
  -o-transition-property: max-height, top;
  transition-property: max-height, top;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #dddddd;
  white-space: nowrap;
  max-height: 0;
  position: relative;
  top: -5em;
}
.owstech-share .drawer li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.owstech-share .drawer li:first-child, .owstech-share .drawer li.first {
  padding-left: 0;
}
.owstech-share .drawer li:last-child {
  padding-right: 0;
}
.owstech-share .drawer li.last {
  padding-right: 0;
}
.owstech-share.active .drawer, .owstech-share:hover .drawer {
  max-height: 12em;
  top: -3em;
}
.owstech-share .drawer a.icon {
  color: gray;
  font-size: 1.25rem;
  line-height: 2.5;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: zocial;
  text-decoration: none;
}
.owstech-share a.icon:hover {
  background: #333333;
  color: white;
}
.owstech-share a.icon.facebook::before {
  content: "f";
}
.owstech-share a.icon.twitter::before {
  content: "t";
}
.owstech-share a.icon.google-plus::before {
  content: "+";
}
.owstech-share a.icon.reddit::before {
  content: ">";
  position: relative;
  top: -.125em;
}

.related-articles .related-article {
  padding: .5em 1em;
  border-left: 2px #666 solid;
  background: #eee;
}
.related-articles .related-article h4 a {
  text-decoration: none;
}
.related-articles .related-article p {
  font-size: .875em;
  line-height: 1.125;
}
.related-articles .related-article .tooltip {
  overflow: hidden;
  transition: max-height .25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  max-height: 0;
}
.related-articles .related-article:hover .tooltip {
  max-height: 12em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#site-name,
#site-slogan,
#block-system-main-menu {
  display: block;
  font-weight: normal;
  text-align: center;
  background: #2c2c2c;
  margin: 0 auto !important;
  color: #FECD48;
}

#site-slogan,
#site-name {
  padding: .25em;
  background: #222;
  letter-spacing: .025em;
}

#site-slogan {
  padding: 1em 0;
  margin-bottom: .5em;
}

#block-system-main-menu {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  padding: 0;
}
#block-system-main-menu:after {
  content: "";
  display: table;
  clear: both;
}
#block-system-main-menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
#block-system-main-menu li:first-child, #block-system-main-menu li.first {
  padding-left: 0;
}
#block-system-main-menu li:last-child {
  padding-right: 0;
}
#block-system-main-menu li.last {
  padding-right: 0;
}
#block-system-main-menu .content {
  position: relative;
}
#block-system-main-menu .menu {
  padding: 0;
  display: inline-block;
  margin: 0 auto;
}
#block-system-main-menu .menu li {
  padding: 0;
}
#block-system-main-menu .menu li a {
  display: block;
  padding: .25em .5em;
}

@media (min-width: sm) {
  #site-name,
  #site-slogan,
  #block-system-main-menu {
    text-align: left;
  }

  #block-system-main-menu .menu {
    margin: 0;
  }
}
.view-story-listings {
  padding: 0 2em;
}
@media (min-width: 770px) {
  .view-story-listings .story {
    width: 48.48485%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 3.0303%;
  }
  .view-story-listings .story:nth-child(3n+0) {
    width: 48.48485%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 3.0303%;
    clear: both;
  }
  .view-story-listings .story:nth-child(2n+2) {
    width: 48.48485%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .view-story-listings {
    padding: 0;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 255, 51, 0.5)), color-stop(8.69565%, rgba(0, 255, 51, 0.5)), color-stop(8.69565%, rgba(0, 255, 51, 0.25)), color-stop(13.04348%, rgba(0, 255, 51, 0.25)), color-stop(13.04348%, rgba(0, 255, 51, 0.5)), color-stop(21.73913%, rgba(0, 255, 51, 0.5)), color-stop(21.73913%, rgba(0, 255, 51, 0.25)), color-stop(26.08696%, rgba(0, 255, 51, 0.25)), color-stop(26.08696%, rgba(0, 255, 51, 0.5)), color-stop(34.78261%, rgba(0, 255, 51, 0.5)), color-stop(34.78261%, rgba(0, 255, 51, 0.25)), color-stop(39.13043%, rgba(0, 255, 51, 0.25)), color-stop(39.13043%, rgba(0, 255, 51, 0.5)), color-stop(47.82609%, rgba(0, 255, 51, 0.5)), color-stop(47.82609%, rgba(0, 255, 51, 0.25)), color-stop(52.17391%, rgba(0, 255, 51, 0.25)), color-stop(52.17391%, rgba(0, 255, 51, 0.5)), color-stop(60.86957%, rgba(0, 255, 51, 0.5)), color-stop(60.86957%, rgba(0, 255, 51, 0.25)), color-stop(65.21739%, rgba(0, 255, 51, 0.25)), color-stop(65.21739%, rgba(0, 255, 51, 0.5)), color-stop(73.91304%, rgba(0, 255, 51, 0.5)), color-stop(73.91304%, rgba(0, 255, 51, 0.25)), color-stop(78.26087%, rgba(0, 255, 51, 0.25)), color-stop(78.26087%, rgba(0, 255, 51, 0.5)), color-stop(86.95652%, rgba(0, 255, 51, 0.5)), color-stop(86.95652%, rgba(0, 255, 51, 0.25)), color-stop(91.30435%, rgba(0, 255, 51, 0.25)), color-stop(91.30435%, rgba(0, 255, 51, 0.5)), color-stop(100%, rgba(0, 255, 51, 0.5)));
    background-image: -webkit-linear-gradient(left, rgba(0, 255, 51, 0.5), rgba(0, 255, 51, 0.5) 8.69565%, rgba(0, 255, 51, 0.25) 8.69565%, rgba(0, 255, 51, 0.25) 13.04348%, rgba(0, 255, 51, 0.5) 13.04348%, rgba(0, 255, 51, 0.5) 21.73913%, rgba(0, 255, 51, 0.25) 21.73913%, rgba(0, 255, 51, 0.25) 26.08696%, rgba(0, 255, 51, 0.5) 26.08696%, rgba(0, 255, 51, 0.5) 34.78261%, rgba(0, 255, 51, 0.25) 34.78261%, rgba(0, 255, 51, 0.25) 39.13043%, rgba(0, 255, 51, 0.5) 39.13043%, rgba(0, 255, 51, 0.5) 47.82609%, rgba(0, 255, 51, 0.25) 47.82609%, rgba(0, 255, 51, 0.25) 52.17391%, rgba(0, 255, 51, 0.5) 52.17391%, rgba(0, 255, 51, 0.5) 60.86957%, rgba(0, 255, 51, 0.25) 60.86957%, rgba(0, 255, 51, 0.25) 65.21739%, rgba(0, 255, 51, 0.5) 65.21739%, rgba(0, 255, 51, 0.5) 73.91304%, rgba(0, 255, 51, 0.25) 73.91304%, rgba(0, 255, 51, 0.25) 78.26087%, rgba(0, 255, 51, 0.5) 78.26087%, rgba(0, 255, 51, 0.5) 86.95652%, rgba(0, 255, 51, 0.25) 86.95652%, rgba(0, 255, 51, 0.25) 91.30435%, rgba(0, 255, 51, 0.5) 91.30435%, rgba(0, 255, 51, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 255, 51, 0.5), rgba(0, 255, 51, 0.5) 8.69565%, rgba(0, 255, 51, 0.25) 8.69565%, rgba(0, 255, 51, 0.25) 13.04348%, rgba(0, 255, 51, 0.5) 13.04348%, rgba(0, 255, 51, 0.5) 21.73913%, rgba(0, 255, 51, 0.25) 21.73913%, rgba(0, 255, 51, 0.25) 26.08696%, rgba(0, 255, 51, 0.5) 26.08696%, rgba(0, 255, 51, 0.5) 34.78261%, rgba(0, 255, 51, 0.25) 34.78261%, rgba(0, 255, 51, 0.25) 39.13043%, rgba(0, 255, 51, 0.5) 39.13043%, rgba(0, 255, 51, 0.5) 47.82609%, rgba(0, 255, 51, 0.25) 47.82609%, rgba(0, 255, 51, 0.25) 52.17391%, rgba(0, 255, 51, 0.5) 52.17391%, rgba(0, 255, 51, 0.5) 60.86957%, rgba(0, 255, 51, 0.25) 60.86957%, rgba(0, 255, 51, 0.25) 65.21739%, rgba(0, 255, 51, 0.5) 65.21739%, rgba(0, 255, 51, 0.5) 73.91304%, rgba(0, 255, 51, 0.25) 73.91304%, rgba(0, 255, 51, 0.25) 78.26087%, rgba(0, 255, 51, 0.5) 78.26087%, rgba(0, 255, 51, 0.5) 86.95652%, rgba(0, 255, 51, 0.25) 86.95652%, rgba(0, 255, 51, 0.25) 91.30435%, rgba(0, 255, 51, 0.5) 91.30435%, rgba(0, 255, 51, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 255, 51, 0.5), rgba(0, 255, 51, 0.5) 8.69565%, rgba(0, 255, 51, 0.25) 8.69565%, rgba(0, 255, 51, 0.25) 13.04348%, rgba(0, 255, 51, 0.5) 13.04348%, rgba(0, 255, 51, 0.5) 21.73913%, rgba(0, 255, 51, 0.25) 21.73913%, rgba(0, 255, 51, 0.25) 26.08696%, rgba(0, 255, 51, 0.5) 26.08696%, rgba(0, 255, 51, 0.5) 34.78261%, rgba(0, 255, 51, 0.25) 34.78261%, rgba(0, 255, 51, 0.25) 39.13043%, rgba(0, 255, 51, 0.5) 39.13043%, rgba(0, 255, 51, 0.5) 47.82609%, rgba(0, 255, 51, 0.25) 47.82609%, rgba(0, 255, 51, 0.25) 52.17391%, rgba(0, 255, 51, 0.5) 52.17391%, rgba(0, 255, 51, 0.5) 60.86957%, rgba(0, 255, 51, 0.25) 60.86957%, rgba(0, 255, 51, 0.25) 65.21739%, rgba(0, 255, 51, 0.5) 65.21739%, rgba(0, 255, 51, 0.5) 73.91304%, rgba(0, 255, 51, 0.25) 73.91304%, rgba(0, 255, 51, 0.25) 78.26087%, rgba(0, 255, 51, 0.5) 78.26087%, rgba(0, 255, 51, 0.5) 86.95652%, rgba(0, 255, 51, 0.25) 86.95652%, rgba(0, 255, 51, 0.25) 91.30435%, rgba(0, 255, 51, 0.5) 91.30435%, rgba(0, 255, 51, 0.5) 100%);
    background-image: linear-gradient(left, rgba(0, 255, 51, 0.5), rgba(0, 255, 51, 0.5) 8.69565%, rgba(0, 255, 51, 0.25) 8.69565%, rgba(0, 255, 51, 0.25) 13.04348%, rgba(0, 255, 51, 0.5) 13.04348%, rgba(0, 255, 51, 0.5) 21.73913%, rgba(0, 255, 51, 0.25) 21.73913%, rgba(0, 255, 51, 0.25) 26.08696%, rgba(0, 255, 51, 0.5) 26.08696%, rgba(0, 255, 51, 0.5) 34.78261%, rgba(0, 255, 51, 0.25) 34.78261%, rgba(0, 255, 51, 0.25) 39.13043%, rgba(0, 255, 51, 0.5) 39.13043%, rgba(0, 255, 51, 0.5) 47.82609%, rgba(0, 255, 51, 0.25) 47.82609%, rgba(0, 255, 51, 0.25) 52.17391%, rgba(0, 255, 51, 0.5) 52.17391%, rgba(0, 255, 51, 0.5) 60.86957%, rgba(0, 255, 51, 0.25) 60.86957%, rgba(0, 255, 51, 0.25) 65.21739%, rgba(0, 255, 51, 0.5) 65.21739%, rgba(0, 255, 51, 0.5) 73.91304%, rgba(0, 255, 51, 0.25) 73.91304%, rgba(0, 255, 51, 0.25) 78.26087%, rgba(0, 255, 51, 0.5) 78.26087%, rgba(0, 255, 51, 0.5) 86.95652%, rgba(0, 255, 51, 0.25) 86.95652%, rgba(0, 255, 51, 0.25) 91.30435%, rgba(0, 255, 51, 0.5) 91.30435%, rgba(0, 255, 51, 0.5) 100%);
  }
  .view-story-listings .story {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 4.34783%;
  }
  .view-story-listings .story:nth-child(3n+0) {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 4.34783%;
  }
  .view-story-listings .story:nth-child(2n+2) {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 4.34783%;
  }
  .view-story-listings .story:nth-child(5n+0) {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 4.34783%;
    clear: both;
  }
  .view-story-listings .story:nth-child(4n+4) {
    width: 21.73913%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}

.view-story-listings .story a {
  text-decoration: none;
  color: #333333;
}

.node-type-story .view-mode-full .byline,
.node-type-event .view-mode-full .byline,
.node-type-video .view-mode-full .byline {
  margin-bottom: 1em;
}
.node-type-story .view-mode-full .field-name-field-image-source,
.node-type-event .view-mode-full .field-name-field-image-source,
.node-type-video .view-mode-full .field-name-field-image-source {
  padding-bottom: 5px;
}
.node-type-story .view-mode-full .group-left,
.node-type-story .view-mode-full .group-right,
.node-type-event .view-mode-full .group-left,
.node-type-event .view-mode-full .group-right,
.node-type-video .view-mode-full .group-left,
.node-type-video .view-mode-full .group-right {
  width: 100%;
}
@media (min-width: 960px) {
  .node-type-story .view-mode-full .group-left,
  .node-type-event .view-mode-full .group-left,
  .node-type-video .view-mode-full .group-left {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-top: 1em;
  }
  .node-type-story .view-mode-full .group-right,
  .node-type-event .view-mode-full .group-right,
  .node-type-video .view-mode-full .group-right {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 70.21277%;
    clear: none;
    padding-top: 2.185em;
  }
  .node-type-story .view-mode-full .article-meta,
  .node-type-event .view-mode-full .article-meta,
  .node-type-video .view-mode-full .article-meta {
    margin-top: 2em;
  }
  .node-type-story .view-mode-full .article-meta:after,
  .node-type-event .view-mode-full .article-meta:after,
  .node-type-video .view-mode-full .article-meta:after {
    content: "";
    display: table;
    clear: both;
  }
  .node-type-story .view-mode-full .article-meta .owstech-share,
  .node-type-event .view-mode-full .article-meta .owstech-share,
  .node-type-video .view-mode-full .article-meta .owstech-share {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .node-type-story .view-mode-full .article-meta .field-name-field-tags,
  .node-type-event .view-mode-full .article-meta .field-name-field-tags,
  .node-type-video .view-mode-full .article-meta .field-name-field-tags {
    width: 64.70588%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-top: .375em;
  }
}

.related-articles {
  list-style: none;
  padding: 0;
}
.related-articles .related-article {
  margin: 0 0 .25em 0;
}

.view-interocc-newsfeed:after {
  content: "";
  display: table;
  clear: both;
}

.article-meta {
  padding: .5em;
  background: #f7f7f7;
}

.view-interocc-newsfeed .article {
  margin-bottom: 1em;
  padding: 1em;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.view-interocc-newsfeed .article h4 {
  font-size: 4rem;
}

/*
------------------------------------
Type and Vertical Rythm Definitions
------------------------------------
*/
@font-face {
  font-family: LeagueGothic;
  src: url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.eot");
  src: url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.woff") format("woff"), url("/sites/all/themes/occupy/fonts/league_gothic/webfonts/leaguegothic-regular-webfont.svg#LeaguGothic") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: PTSans;
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.eot");
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.eot?#iefix") format("eot"), url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.woff") format("woff"), url("/sites/all/themes/occupy/fonts/ptsans/PTS55F-webfont.svg#ptsans") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: PTSans;
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.eot");
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.woff") format("woff"), url("/sites/all/themes/occupy/fonts/ptsans/PTS75F-webfont.svg#ptsansBold") format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: PTSans;
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.eot");
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.woff") format("woff"), url("/sites/all/themes/occupy/fonts/ptsans/PTS56F-webfont.svg#ptsansItalic") format("svg");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: PTSans;
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.eot");
  src: url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.woff") format("woff"), url("/sites/all/themes/occupy/fonts/ptsans/PTS76F-webfont.svg#ptsansBoldItalic") format("svg");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: zocial;
  src: url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.eot");
  src: url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.woff") format("woff"), url("/sites/all/themes/streetnet/fonts/zocial/zocial-regular-webfont.svg#zocial-regular") format("svg");
  font-style: normal;
  font-weight: 400;
}

body, h5,
h6, article.view-mode-full .field-name-sidebar-tags h2,
article.view-mode-full .field-name-related-articles h2,
article.view-mode-full .field-name-category-menu h2 {
  font-family: 'PTSans', helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
}
body a, h5 a,
h6 a, article.view-mode-full .field-name-sidebar-tags h2 a,
article.view-mode-full .field-name-related-articles h2 a,
article.view-mode-full .field-name-category-menu h2 a {
  color: #1a1a1a;
}

.related-articles .related-article h4 a, h1, h2, h3, h4, h5, h6, #block-system-main-menu ul.menu li a,
#block-system-main-menu ul.menu li a:link, #site-slogan,
#block-system-main-menu, .newsletter-text, .view-header-announcements, blockquote,
blockquote p {
  font-family: 'LeagueGothic', helvetica, "Arial Black", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}
.related-articles .related-article h4 a a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, #block-system-main-menu ul.menu li a a,
#block-system-main-menu ul.menu li a:link a, #site-slogan a,
#block-system-main-menu a, .newsletter-text a, .view-header-announcements a, blockquote a,
.related-articles .related-article h4 a a:link,
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link,
#block-system-main-menu ul.menu li a a:link,
#site-slogan a:link,
#block-system-main-menu a:link,
.newsletter-text a:link,
.view-header-announcements a:link,
blockquote a:link,
.related-articles .related-article h4 a a:visited,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited,
#block-system-main-menu ul.menu li a a:visited,
#site-slogan a:visited,
#block-system-main-menu a:visited,
.newsletter-text a:visited,
.view-header-announcements a:visited,
blockquote a:visited {
  color: inherit;
}

.byline,
.field-name-field-image-caption {
  font-size: .875rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h5,
h6 {
  text-transform: normal;
}

#block-system-main-menu ul.menu li a,
#block-system-main-menu ul.menu li a:link {
  color: inherit;
  text-decoration: none;
}

#site-name {
  white-space: nowrap;
  margin: .5em 0 .25em 0;
  font-size: 2.5rem;
  line-height: 1.125;
}
#site-name a,
#site-name a:active,
#site-name a:link,
#site-name a:hover {
  color: #fff;
  text-decoration: none;
}

#site-slogan,
#block-system-main-menu {
  font-size: 1.625rem;
  color: #FECD48;
  margin: 0;
  padding: 0;
}

#block-system-main-menu ul.menu li a,
#block-system-main-menu ul.menu li a:link {
  color: #FECD48;
}

.newsletter-text {
  font-size: 1.4rem;
}

.view-header-announcements {
  font-size: 1.2rem;
}

.page-title {
  font-size: 5rem;
  letter-spacing: .025em;
}

p, div {
  line-height: 1.5;
}

.article-content {
  /*
  limiting the width of just .field-name-body
  is not necessarily the answer 
  for legible column widths
  */
  padding-bottom: 4em;
}
.article-content .field-name-body {
  max-width: 72ex;
  padding-left: 4em;
  font-size: 1rem;
}
.article-content .field-name-body p:first-child {
  font-size: 1.125rem;
}

blockquote,
blockquote p {
  font-size: 2rem !important;
  line-height: 1.2;
  hanging-punctuation: first;
  text-indent: -.25em;
}

article.view-mode-full .field-name-sidebar-tags h2,
article.view-mode-full .field-name-related-articles h2,
article.view-mode-full .field-name-category-menu h2 {
  color: #aaaaaa;
  font-size: .875rem;
  letter-spacing: .025em;
}

.date-posted,
.field-name-field-image-source,
.field-name-field-author {
  font-size: .875rem;
}
