////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////


//////////////////////////////
// Type specific extendables
//

%base-font {
  font-family: 'PTSans', helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  a {
    color: $c-backdrop;
  }
}

%header-font {
  font-family: 'LeagueGothic', helvetica, "Arial Black", sans-serif;    
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  a,
  a:link,
  a:visited {
    color: inherit;
  }
}

%smalltype {
  font-size: .875rem;
}

%legible-column {
    max-width: 80ex;
    margin: 0 auto;
}


//////////////////////////////
// Other
//

%responsive-image {
  display: block;
  width: 100%;
  height: auto;
}

%links-no-outlines {
  a:link,
  a:active,
  a:hover,
  a {
    outline: none !important;
    text-decoration: none;
  }  
}

%inline-block-item {
  display: inline-block !important;
  line-height: 1.5;
  vertical-align: baseline;
  width: auto;
  margin: .425em .25em 0 0;
  padding: .25em .5em 0 .5em;
}

%sidebar-block {
  margin-bottom: 2em;
}

%tags {
  font-size: .925rem;
  a{
    border-radius: .25em;
    background: $c-ui-panel-dk;
    color: $c-ui-panel-lt;
    text-decoration: none;
    @extend %inline-block-item;
    transition-duration: 0.1875s;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  a:hover{
    background: $c-ui-panel-lt;
    color: $c-ui-panel-dk;
    text-decoration: none;
    @extend %inline-block-item;
  }
}

// Shift content offscreen, can be usefull when you reall need to do this
.offscreen {
  position: absolute;
  right: 101%;
  overflow: hidden;
}

.centered-container {
  margin-left: auto;
  margin-right: auto;
  @include breakpoint( $screen-md ) { 
    max-width: $screen-md;
  }
  @include breakpoint( $screen-lg ) { 
    max-width: $screen-lg;
  }
}

.clearfix {

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *zoom: 1;
  }

}

