////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$d-share-slide: 375ms;

$screen-lg: 1200px;
$screen-md: 960px;
$screen-sm: 480px;

$c-text: #333;
$c-text-light: #aaa;

$c-page-bg: white;
$c-accent: #fc0;
$c-backdrop: #1a1a1a;
$c-ui-panel-lt: #ddd;
$c-ui-panel-dk: darken( #dedede, 70 );

$screen-lg: 1200px;
$screen-md: 960px;
$screen-md-max: max-width $screen-md;
$screen-sm: 770px;
$screen-sm-max: max-width $screen-sm;
$screen-xs: 550px;
$screen-xs-max: max-width $screen-xs;

$gutter-sm: 1/16;
$gutter-md: 1/2;

$gutters: $gutter-sm;
$gutters: add-gutter( $gutter-md at $screen-md );

$grids: add-grid( 1 );
$grids: add-grid( 2 at $screen-sm );
$grids: add-grid( 16 at $screen-md );


